@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: calc(10px + 1vmin);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    font-family: "Roboto", Inter, system-ui, sans-serif;
    background-color: rgba(25, 25, 28, 0.5);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

.gradient_background {
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(12, 39, 56, 1) 100%);
    width: 100%;
}

.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
}

header {
    padding: 1% 0% 1%;
}

header .logo {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 800;
}

header nav {
    padding-top: 50px;
    float: right;
    width: 25%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li .top_bubble {
    display: inline-block;
    padding: 10px 15px;
}

header nav ul li a {
    color: white;
}

header nav ul li:not(.active) a:hover {
    border-bottom: 5px solid #164969;
    transition: all 250ms ease;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.hero {
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 300;
    line-height: 170%;
}

.hero h2 {
    color: #164969;
    font-size: 50px;
    font-weight: 600;
}

.two-columns img {
    width: clamp(600px, 50%, 1000px);
    height: auto;
}

.wallpaper {
    width: 100%;
}